#header {
    padding: 10px;
    width: 960px;
    height: 30px;
    background-color: #6E914F;
}

#header #header-right-corner {
    float: right;
}

#header #logout-button {
    vertical-align: middle;
}

#header #userpick {
    border-radius: 15px;
    height: 30px;
    vertical-align: middle;
}

#header #a-team-member {
    padding: 0 7px;
    color: white;
    text-decoration: none;
}