.issue-wrapper .issue {
      width: 280px;
      height: 75px;
      border: 1px solid #B2C0C0;
      background-color: #F7fAf4;
      border-left-width: 10px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      margin-left: 3px;
      margin-bottom: 2px;
      padding: 7px;
}

.issue-wrapper .story-color {
    border-left-color: #133944 ;
}

.issue-wrapper .tech-color {
    border-left-color: #454720 ;
}

.issue-wrapper .bug-color {
    border-left-color: #993333 ;
}

.issue-wrapper .issue p {
    clear: both;
}

.issue-wrapper .top-left-corner {
    float: left;
    font-size: 10px;
}

.issue-wrapper .top-right-corner {
    float: right;
    height: 15px;
    font-size: 10px;
}

.issue-wrapper .image-edit,
.issue-wrapper .image-delete {
    opacity: 0.5;
    cursor: pointer;
}

.issue-wrapper .image-edit:hover,
.issue-wrapper .image-delete:hover {
    opacity: 1;
}

.issue-wrapper .add-subissue {
    width: auto;
    margin: 0 2px 2px;
    padding: 10px;
    border: 1px solid #B2C0C0;
    background-color: #F7FAF4;
}

.issue-wrapper .add-subissue input[type=text] {
    width: 100%;
    margin-bottom: 3px;
    font-size: 14px;
}

.issue-wrapper .add-subissue textarea {
    resize: none;
    width: 100%;
    font-size: 14px;
}

.issue-wrapper .submit-wrapper {
    margin-top: 3px;
    width: 100px;
    margin-left: auto;
}

.issue-wrapper .add {
    width: 100%;
    background-color: #6E914F;
    color: #FAFFFA;
    font-weight: bold;
}