#profile {
    background-color: #d1e3c2;
    padding: 10px 15px;
}

#profile label {
    display: block;
    font-weight: bold;
}

#profile input {
    display: block;
}

#profile input[type=submit] {
    margin-top: 20px;
}