@import url("./reset.css");

* {
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: Tahoma, Verdana, Arial, sans-serif;
}

textarea {
    font-family: Tahoma, Verdana, Arial, sans-serif;
    overflow: hidden;
}

#loading {
    display: block;
    margin: 0 auto;
    border: 0;
}

#wrapper {
    width: 980px;
    margin: auto;
}

.lock {
    display: none;
}
