<% /*var kindColor = "";
    if (obj.kind == "story") {
        kindColor = "story-color";
    }
   if (obj.kind == "technical task") {
       kindColor = "tech-color";
    }
   if (obj.kind == "bug") {
       kindColor = "bug-color";
    }
    if (mode == "backlog") {
        backlogMode = "backlog-mode"
    } else backlogMode = ""*/
    
    var kindColor = "story-color";
    var mode = "";
//    var issueId = "";
//    var status = "to do";
    var backlogMode = "";
//    var kind = "story";
//    var name = "Some name";
//    var description = "Very long description";
//    var estimate = 5;
%>

<div class="issue <%=kindColor%> <%=backlogMode%>" data-issue-id="<%= obj._id %>">
    <div class="top-left-corner">
        <% if (obj.status !== "doing" && obj.kind == "story" && mode !== "backlog") { %>
        <span><img class="plus" src="static/images/plus.jpg"/>
        <img class="minus lock" src="static/images/minus.jpg" /></span>
        <% } %>
        <span class="estimate">Estimate: <% if (obj.estimate) {%> <%=obj.estimate%> sp <%} else {%> no estimate <%}%></span>
    </div>
    <% if (mode == "backlog" || obj.status == "to do") { %>
    <div class="top-right-corner">
        <img class="image-edit" src="/static/images/edit.png" alt="edit" />
        <img class="image-delete" src="/static/images/delete.png" alt="delete" />
    </div>
    <% } %>
    <p class="name"><b><%= obj.name %></b></p>
    <p class="description"><%= obj.description %></p>
</div>
<div class="subissue-container" data-issue-id="<%= obj._id %>">
</div>
<% if (obj.status == "to do" && obj.kind == "story" && mode !== "backlog") { %>
<div class="add-subissue lock">
<input type="text" placeholder="Enter the name of subissue"/><br />
<textarea placeholder="Enter the description of subissue"></textarea><br />
<div class="submit-wrapper">
<input class="add" data-add-id="<%= obj._id %>" type="submit" value="Add subissue">
</div>
</div>  <%}%>
