<% /*var kindColor = "";
    if (kind == "story") {
        kindColor = "story-color";
    }
   if (kind == "technical task") {
       kindColor = "tech-color";
    }
   if (kind == "bug") {
       kindColor = "bug-color";
    }
    if (mode == "backlog") {
        backlogMode = "backlog-mode"
    } else backlogMode = ""*/
    
    var kindColor = "story-color";
    var mode = "";
    var issueId = "";
    var status = "to do";
    var backlogMode = "";
    var kind = "story";
//    var name = "Some name";
//    var description = "Very long description";
    var estimate = 5;
%>

<div class="issue <%=kindColor%> <%=backlogMode%>" data-issue-id="<%= issueId %>">
    <div class="top-left-corner">
        <% if (status !== "doing" && kind == "story" && mode !== "backlog") { %>
        <span><img class="plus" src="static/images/plus.jpg"/>
        <img class="minus lock" src="static/images/minus.jpg" /></span>
        <% } %>
        <span class="estimate">Estimate: <% if (estimate) {%> <%=estimate%> sp <%} else {%> no estimate <%}%></span>
    </div>
    <% if (mode == "backlog" || status == "to do") { %>
    <div class="top-right-corner">
        <img class="image-edit" src="/static/images/edit.png" alt="edit" />
        <img class="image-delete" src="/static/images/delete.png" alt="delete" />
    </div>
    <% } %>
    <p class="name"><b><%= name %></b></p>
    <p class="description"><%= description %></p>
</div>
<div class="subissue-container">
</div>
<% if (status == "to do" && kind == "story" && mode !== "backlog") { %>
<div class="add-subissue lock">
<input type="text" placeholder="Enter the name of subissue"/><br />
<textarea placeholder="Enter the description of subissue"></textarea><br />
<div class="submit-wrapper">
<input class="add" data-add-id="<%= issueId %>" type="submit" value="Add subissue">
</div>
</div>  <%}%>
